<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Diego Henrique da Silva - 61 983009979</span>
  <div class="spacer"></div>
</div>
<div class="content" role="main">
  <!-- Resources -->
  <h2>Calcular CDB</h2>
  <form [formGroup]="angForm" (submit)="$event.preventDefault()" style="width: 400px;">
    <p><label>
        <input required type="number" name="Valor" min="1" formControlName="Valor" ng-pattern="/^[1-9][0-9]*$/"
          Style="width: 100%;" placeholder="Valor monetário positivo" autofocus #customerInput>
      </label>
    </p>
    <br>
    <p>
      <label>
        <input required ng-pattern="/^[1-9][0-9]*$/" min="2" name="Prazo" formControlName="Prazo" maxlength=" 2"
          Style="width: 100%;" type='number' placeholder="Prazo em meses maior que 1(um) para resgate da aplicação"
          #customerInput2>
      </label>
    </p>
    <br>
    <button style="width: 408px; height: 100px; background-color: aqua;" (click)="calcularSoma()"
      mat-raised-button>Calcular</button>
    <br>
    <div style="text-align: right;">
      <h4>Resultado bruto e o resultado líquido do investimento:</h4>
      <P>Resultado Bruto: <b>{{this.resultadoBruto}}</b></P>
      <P>Resultado Líquido: <b>{{this.resultadoLiquido}}</b></P>
      <P>Imposto: <b>{{this.imposto}}</b></P>
    </div>
  </form>
  <br>
</div>